html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden !important;
}
li.active a{
   
    color: #5F6F52;
}
@media (max-width:1023px){
    li.active a{
        color: white;
        background-color: #5F6F52;
    }
}
input[type="checkbox"]{
    accent-color: #3B82F6;
    pointer-events: none;
    padding: 5px;
    border-radius:50%
}
[data-aos] {
    transition: all .5s ease-in-out !important;
}

.swiper-custom-prev,
.swiper-custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 2px solid #5F6F52;
    background-color: white;
    color: #5F6F52;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.swiper-custom-prev {
    left: -20px;
}

.swiper-custom-next {
    right: -20px;
}

.swiper-custom-prev:hover,
.swiper-custom-next:hover {
    background-color: #5F6F52;
    color: white;
}